body {
    background-image: url("img/fundo2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

* {
    margin: 0;
}

main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}



main h1 {
    font-size: 70px;
    margin-bottom:40px;
    margin-top:50px;
}

main h2 {
    font-size: 50px;
    margin-bottom:70px;
}

.tela_inicial {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main ul {
    list-style: none;
    padding: 0px;
}

.btn_iniciar {
    width: 200px;
    height: 45px;
    font-size: 20px;
    border-radius: 30px;
    border: solid white 2px;
    background: rgba(0, 79, 143, 0.738);
    color: rgb(255, 255, 255);
    margin-bottom: 9px;
}

.btn_iniciar:hover {
    font-size: 18px;
    background: rgba(0, 93, 170, 0.738);
}

#palavra1,
#palavra2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

#tela_forca {
    margin-bottom: 205px;
    width:90%;
}

.card_ativo,.card_vazio {
    background: rgb(0, 35, 132);
    color: white;
    width: 60px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 8px 10px 8px;
    font-size: 55px;
    border-radius: 20px;
}

.card_vazio{
    opacity:0;
}

.card_ativo:hover {
    font-size: 50px;
}

.teclado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 70%;
}

.tecla,
.tecla_inativa {
    background: #ffffff;
    width: 63px;
    height: 50px;
    margin: 0px 6px 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
    border-radius: 15px;
    font-family: monospace;
    color: rgb(0, 0, 0);
    border: none;
}

header h3 {
    color: white;
    font-size: 20px;
    margin-right: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.tecla_inativa {
    background: rgba(230, 230, 230, 0.614) !important;
    color: rgba(44, 44, 44, 0.442) !important;
}

.tecla:hover {
    font-size: 31px;
}

header {
    display:grid;
    grid-template-columns:repeat(3,33.3%);
    opacity: 0;
    margin: 7px 10px 30px 10px;
}

#btn_recomeçar {
    display: none;
    width: 200px;
    height: 180px;
    font-size: 90px;
    border-radius: 30px;
    border: solid white 2px;
    background: rgba(0, 79, 143, 0.738);
    color: rgb(255, 255, 255);
}

#btn_recomeçar:hover {
    font-size: 82px;
}

#btn_retornar {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.vidas i {
    font-size: 30px;
    margin: 0px 10px 0px 0px;
    color: rgb(200, 0, 255);
}

.vidas {
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
}

header article{
    text-align:center;
}

#borda {
    height: 20px;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    border: solid white 3px;
    min-width: 33%;
    background: rgb(173, 173, 173);
}

#barra_vida {
    background: rgb(0, 123, 255);
    min-height: 100%;
    min-width: 100%;
}

#tela_erro {
    font-size: 20px;
    min-height: 50px;
}

@media screen and (max-width:710px){
    main h1,main h2{
        font-size:40px;
    }

    main h1{
        font-size:50px;
    }

    .card_ativo,.card_vazio{
        width:38px;
        height:47px;
        font-size:27px;
        border-radius:10px;
    }

    .tecla,.tecla_inativa{
        width:38px;
        height:35px;
        font-size:27px;
    }

    #tela_forca{
        margin-bottom:60px;
    }

    .teclado{
        width:80%;
    }

    .card_ativo:hover,.tecla:hover{
        font-size:23px;
    }
}